@import '../media-queries.scss';

.fourthpanel-container {
  display: flex;
  justify-content: space-between;
  margin-left: 2em;

  @include xs {
    display: flex;
    flex-direction: column;
  }

  .tri-panel {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .title {
    @include xs {
      height: auto;
    }
  }

  .tri-panel-2 {
    flex-direction: column;
    .content {
      margin: 2em;
    }
  }

  .mobileSubImage {
    margin-top: 10em;
    width: 169px;
    height: 151px;
  }
  .tri-panel-3 {
    height: max-content;
    .circledMobileImage {
      width: 520px;
      height: 706px;
    }

    @include xs {
      height: 361px;
    }
  }
  
}

