@import '../media-queries.scss';

.fourthpanel-container {
  display: flex;
  justify-content: space-between;

  @include md {
    margin-left: 2em;
  }

  @include xs {
    display: flex;
    flex-direction: column;
  }

  .tri-panel {
    display: flex;
    justify-content: center;
    align-items: center;

    @include md {
      height: 100vh;
    }
  }

  .title {
    @include xs {
      height: auto;
      img {
        width: 170px;
        height: 40px;
      }
    }
  }

  .tri-panel-2 {
    flex-direction: column;
    .content {
      margin: 2em;
    }
  }

  .content-section {
    display: flex;
    backdrop-filter: blur(25px);
    height: 264px;
    width: 360px;
    margin-top: -3em;
    margin-left: 2em;
    .content {
      height: 216px;
      width: 208px;
      line-height: 2em;
    }
    .subImage-section {
      height: 150px;
    }
  }

  .mobileSubImage {
    @include md {
      margin-top: 10em;
      width: 169px;
      height: 151px;
    }

    @include xs {
      height: 100px;
      width: 100px;
    }
  }
  .tri-panel-3 {
    height: max-content;
    .circledMobileImage {
      width: 520px;
      height: 706px;

      @include xs {
        margin-top: 2em;
        width: 366px;
        height: 366px;
      }
    }

    @include xs {
      height: 361px;
    }
  }
  
}

