@import '../media-queries.scss';

.main-img {
  width: 100%;
  position: relative;
  text-align: center;
}

.header-panel {
  .text-center {
    color: white;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: "Noto Sans JP";
    font-weight: 500;
    font-size: 48px;
    backdrop-filter: blur(4px);
    text-shadow: 4px 4px 20px rgba(21, 21, 21, 0.25);
  }
  .headTitleSmall {
    top: 35%;
  }
  .headTitleBig {
    top: 45%;
    font-size: 52px;
    font-weight: 800;
  }
}