@import '../media-queries.scss';

.tribox-container {
  display: flex;
  justify-content: space-evenly;
  margin: 6em 2em;
  .tri-panel {
    border-radius: 1em;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    position: relative;
    margin: 0 1em;
      
    @include xs {
      width: 246px;
      margin: 2em;
    }

    .headBackground {
      width: 100%;
      height: 200px;
      clip-path: ellipse(63% 85% at 50% 5%);
    }

    .circle-image {
      width: 100px;
      height: 100px;
      border-radius: 50%;
      position: absolute;
      top: -15%;
      left: 35%;
      
      @include xs {
        width: 60px;
        height: 60px;
        top: -7%;
      }
    }
    .content {
      margin: 1em;
    }
    .link-container {
      display: flex;
      margin: 1rem;
      .linkMessage {
        align-self: center;
      }
    }
  }
}

